---
layout: main
---
<article class="article-page">
  <div class="page-content">
  <!--  <h3 ><a href="{{site.baseurl}}/">Retour à la page des 4 projets</a></h3>  -->
  <h3 ><a href="{{site.baseurl}}/">Retour à la page des 2 projets</a></h3>
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
      <h3 >Pour les projets N°5 & 8</h3>
      <h3 >Je vote avant le 21 mai ! Par ici :</h3>
      <h3 ><a href="{{site.vote-url}}" target="_blank"><img src="{{site.baseurl}}/assets/img/vote.png" alt="Lien Vote" width="300"></a></h3>
      <h3 ><a href="{{site.vote-url}}" target="_blank">Lien vers la page de vote</a></h3>
    </div> <!-- End Wrap Content -->
    <!--  <h3 ><a href="{{site.baseurl}}/">Retour à la page des 4 projets</a></h3>  -->

  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
